.backG {
  background-color: rgb(128, 128, 128);
}

.selected {
  padding-left: 10px;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid;
}
