.backG {
  background-color: rgb(128, 128, 128);
}

.selected {
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}
